.footer {
  display: flex;

  width: $width-content;
  max-width: 100%;
  margin: 2rem auto;
  padding: 0 2rem;

  .footer__menu a {
    display: inline;

    margin-right: 1.75rem;
    font-family: $font-caption;
    font-size: 0.875rem;
    color: $color-dimmer;

    @media screen and (max-width: 479px) {
      margin-right: 1.25rem;
      font-size: 0.75rem;
    }
  }

  @media screen and (max-width: 479px) {
    margin: 1rem auto;
    padding: 0 1rem;
  }
}