.header {
  display: block;
  position: relative;

  width: $width-content;
  max-width: 100%;
  margin: 2.5rem auto 1.5rem;
  padding: 0 2rem;

  h1 {
    font-size: 1.5rem;
    font-family: $font-caption;
    line-height: 1.5;

    @media screen and (max-width: 479px) {
      font-size: 1.25rem;
    }
  }

  h2 {
    font-size: 0.875rem;
    font-family: $font-caption;
    color: $color-dimmer;

    @media screen and (max-width: 479px) {
      font-size: 0.75rem;
    }
  }

  @media screen and (max-width: 479px) {
    margin: 2rem auto 0.5rem;
    padding: 0 1rem;
  }
}