.poster {
  display: flex;
  align-items: center;

  width: $width-content;
  max-width: 100%;
  margin: auto;
  padding: 2rem;

  .poster__about {
    display: block;
    flex: 0 1 40rem;
    margin-right: 2rem;

    h1 {
      margin-bottom: 1rem;
      font-family: $font-caption;
      font-weight: 400;
      font-size: 2.625rem;
      line-height: 1.25;

      @media screen and (max-width: 1023px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 359px) {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
      }
    }

    p {
      line-height: 1.5;
      font-size: 1.25rem;
      font-family: $font-caption;
      color: $color-dimmer;

      @media screen and (max-width: 1023px) {
        font-size: 1rem;
        line-height: 1.65;
      }

      @media screen and (max-width: 767px) {
        font-size: 0.875rem;
      }

      @media screen and (max-width: 359px) {
        font-size: 0.75rem;
        line-height: 1.75;
      }
    }

    a.button {
      display: inline-block;

      margin-top: 2rem;
      padding: 1rem 2rem;

      cursor: pointer;
      user-select: none;
      font-family: $font-caption;
      background: $color-text;
      color: $color-canvas;

      border: none;
      border-radius: 3px;

      &:hover {
        background: rgba($color-text, 0.875);
        transition: background 0.25s;
      }

      &:focus {
        background: rgba($color-text, 0.875);
      }

      @media screen and (max-width: 767px) {
        font-size: 0.875rem;
      }

      @media screen and (max-width: 359px) {
        margin-top: 1rem;
        padding: 0.75rem 1rem;

        font-size: 0.75rem;
        line-height: 1.75;
      }
    }

    @media screen and (max-width: 1023px) {
      flex: 0 1 auto;
      margin-top: 2rem;
      margin-right: 0;
    }

    @media screen and (max-width: 767px) {
      margin-top: 4rem;
      order: 2;
    }
  }

  .poster__cover {
    display: flex;
    flex: 1 1 auto;

    min-height: 25rem;

    background-image: url('/images/cover.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    @media screen and (max-width: 1023px) {
      min-height: 20rem;
    }

    @media screen and (max-width: 767px) {
      flex: 0 0 100%;

      min-height: 5rem;
      background-position: top left;
    }

    @media screen and (max-width: 359px) {
      min-height: 4rem;
    }
  }

  @media screen and (max-width: 767px) {
    flex-flow: row wrap;
    margin-top: 0;
  }

  @media screen and (max-width: 479px) {
    padding: 1rem;
  }
}