@font-face {
  font-family: 'Merriweather';
  src: url('fonts/merriweather.woff2') format('woff2'),
  url('fonts/merriweather.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}