// Setup default styles
@import "config/*.scss";

// Width variables
$width-content: 80rem;

// Color variables
$color-text: #202020;
$color-dimmer: #666;
$color-canvas: #fff;
$color-alert: #d33;
$color-links: rgb(50, 120, 200);

// Font variables
$font-caption: 'Merriweather', sans-serif;
$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-mono: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;

html {
  scroll-behavior: smooth;
}

body {
  padding: 1rem;
  font-size: 16px;
  line-height: 1.5;
  font-family: $font-system;

  background-color: $color-text;

  @media screen and (max-width: 479px) {
    padding: 0.5rem;
  }
}

::placeholder{
  color:rgba(0, 0, 0, 0.25);
}

// Add layout styles
@import "layout/*.scss";