footer.footer
  nav.footer__menu
    a(href='https://github.com/antonlukin/remembrall#how-it-works') How it works
    a(href='https://paypal.me/antonlukin/5') Donate
    a(href='https://t.me/lukin') Submit feedback

script(src='/scripts.min.js?v=1.0.1')
