footer.footer
  nav.footer__menu 
    a(href='https://github.com/antonlukin/remembrall#about') About
    a(href='https://paypal.me/antonlukin/5') Donate
    a(href='https://tgram.link/lukin') Submit feedback