footer.footer
  nav.footer__menu
    a(href='https://antonlukin.github.io/remembrall/#how-it-works') How it works
    a(href='https://paypal.me/antonlukin/5') Donate
    a(href='https://github.com/antonlukin/remembrall/issues') Submit feedback

script(src='/scripts.min.js?v=1.0.1')
