meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name='description', content='Just send your notes to Telegram bot and we will store them. Then you will be able to create custom link with all your data.')

link(rel='icon' type='image/png' href='/images/icon-128.png')
link(rel='icon' type='image/png' sizes='192x192' href='/images/icon-192.png')
link(rel='apple-touch-icon' type='image/png' sizes='180x180' href='/images/icon-180.png')

meta(property='og:title' content='Remembrall')
meta(property='og:site_name' content='Remembrall')
meta(property='og:locale' content='eu_US')
meta(property='og:description' content='Just send your notes to Telegram bot and we will store them. Then you will be able to create custom link with all your data.')
meta(property='og:image' content="/images/poster.png")
meta(property='og:image:width' content="1200")
meta(property='og:image:height' content="630")


link(rel='stylesheet' href='/styles.min.css?v=1.0.0')