doctype html
html(lang="en")
  head
    include header

    title Remembrall - save and share your data with Telegram bot
  body
    .canvas
      header.poster
        .poster__about
          h1 Remebrall — save and share your data with Telegram bot
          p Just send your notes to Telegram bot and we will store them. Then you will be able to create custom link with all your data.
          a.button(href='https://tgram.link/remembrall_robot' target='blank' rel='noopener') Start publishing
        .poster__cover
      
      include footer