doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Remembrall - save and share your data with Telegram bot
    
    link(rel='icon' type='image/png' href='/images/icon-128.png')
    link(rel='icon' type='image/png' sizes='192x192' href='/images/icon-192.png')
    link(rel='apple-touch-icon' type='image/png' sizes='180x180' href='/images/icon-180.png')

    link(rel='stylesheet' href='/styles.min.css')
  body
    .canvas
      header.header
        h1 Remembrall notes
        if (username)
          h2 Shared by @
            a(href='https://tgram.link/' + username) #{username}
        else
          h2 Shared with Telegram
      
        input.search(type='text' placeholder='Search messages')

      section.items
        each item in items
          article.item(id=item.id) !{item.text}
            a.number(href='#' + item.id)
        
      footer.footer
        nav.footer__menu 
          a(href='https://github.com/antonlukin/remembrall#About') About
          a(href='https://paypal.me/antonlukin/5') Donate
          a(href='https://github.com/antonlukin/remembrall/issues') Submit feedback

    script(src='/scripts.min.js')