doctype html
html(lang="en")
  head
    include header

    if (username) 
      title Remembrall notes shared by @#{username}
    else 
      title Remembrall notes shared with Telegram
  body
    .canvas
      header.header
        h1 Remembrall notes
        if (username)
          h2 Shared by @
            a(href='https://tgram.link/' + username) #{username}
        else
          h2 Shared with Telegram
      
        input.search(type='text' placeholder='Search messages')

      section.items
        each item in items
          article.item(id=item.id) !{item.text}
            a.number(href='#' + item.id)
      
      include footer

    script(src='/scripts.min.js?v=1.0.0')